@font-face {
  font-family: 'Ciutadella';
  font-weight: 300;
  src: url('https://qant2018.s3-ap-southeast-2.amazonaws.com/qloy0350/fonts/ciutadella-regular.eot');
  src: url('https://qant2018.s3-ap-southeast-2.amazonaws.com/qloy0350/fonts/ciutadella-regular.eot?#iefix') format('embedded-opentype'),
       url('https://qant2018.s3-ap-southeast-2.amazonaws.com/qloy0350/fonts/ciutadella-regular.woff') format('woff'),
       url('https://qant2018.s3-ap-southeast-2.amazonaws.com/qloy0350/fonts/ciutadella-regular.woff2') format('woff2'),
       url('https://qant2018.s3-ap-southeast-2.amazonaws.com/qloy0350/fonts/ciutadella-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ciutadella';
  font-weight: 500;
  src: url('https://qant2018.s3-ap-southeast-2.amazonaws.com/qloy0350/fonts/ciutadella-medium.eot');
  src: url('https://qant2018.s3-ap-southeast-2.amazonaws.com/qloy0350/fonts/ciutadella-medium.eot?#iefix') format('embedded-opentype'),
       url('https://qant2018.s3-ap-southeast-2.amazonaws.com/qloy0350/fonts/ciutadella-medium.woff') format('woff'),
       url('https://qant2018.s3-ap-southeast-2.amazonaws.com/qloy0350/fonts/ciutadella-medium.woff2') format('woff2'),
       url('https://qant2018.s3-ap-southeast-2.amazonaws.com/qloy0350/fonts/ciutadella-medium.ttf') format('truetype');
}
