:root {

  // fonts
  --font-1: 'Ciutadella';

  // colors
  --color-black-1: #000000;
  --color-black-2: #323232;
  --color-gray-1: #f5f5f5;
  --color-red-1: #e40000;

  // special colors
  --color-transparent: rgba(0, 0, 0, 0);

  // spacing
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;
  --spacing-5: 3rem;
  --spacing-6: 4rem;
  --spacing-7: 6rem;
  --spacing-8: 9rem;

  // box-shadow
  --box-shadow-1: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  --box-shadow-2: 0 2px 4px 0 rgb(51, 154, 244, 0.16);

  // border-radius
  --border-radius-1: 3px;

  // font-weight
  --font-weight-regular: 300;
  --font-weight-bold: 500;

}
